table {
	border-collapse: collapse;
}

#menu {
	position: fixed;
	height: 70px;
	background-color: #e6e6e6;
	border: 1px solid #cccccc;
	border-width: 0 0 1px 0;
	box-shadow: 0 2px 5px #cccccc;
	width: 100%;
}

#menuTable td {
	padding: 5 10 0 7;
}

#title {
	font-size: 27px;
	color: #a6a6a6;
}

#mainTable {
	position: absolute;
	top: 90px;
	height: 75%;
	width: 100%;
}

#mainTable td {
	width: 100%;
	text-align: center;
}

#turnLabel {
	font-size: 26px;
}

#turn {
	font-size: 26px;
}

